<!doctype html>
<link rel="shortcut icon" href="{{ url_for('static', filename='bottle_icon.jpg') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<h1>Welcome to Message In A Bottle</h1>
<form action="{{ url_for('write_message') }}" method="post" class="form1">
  <label>
  Message:
  <input type="text" name="message" />
</label>
<label>
  Author:
  <input type="author" name="author" />
</label>
<label>
  Location:
  <input type="location" name="location" />
</label>
  <input type="submit" value="Send message to the high seas!" />
</form>
<form action="{{ url_for('get_message') }}" method="get">
  <input type="submit" value="Pop open a bottle!" />
</form>
